extends layout

block content
  h1= title
  p Calculadora WebSocket
  div
    form(action='/teste',method='post')
      div(data-role='fieldcontain')
        fieldset(data-role='controlgroup')
          label(for='teste') Operação
            input(id='teste',type='text',value='',placeholder='@',name='teste')
      div(data-role='fieldcontain')   
        input(type='submit',value='Submeter Cálculo',data-transition='fade', data-theme='c')
  div.mt-5 Teste
    p= text